*Capstone*.pdf
*.drawio
/cool-tech/.editorconfig
/cool-tech/.env.example
/cool-tech/*.json
/cool-tech/artisan
/cool-tech/*.js
/cool-tech/*.lock
/cool-tech/*.xml
/cool-tech/app/Console/
/cool-tech/app/Exceptions/
/cool-tech/app/Http/
/cool-tech/app/Models/
/cool-tech/app/Providers/
/cool-tech/app/Console/
/cool-tech/bootstrap/
/cool-tech/config/
/cool-tech/database/
/cool-tech/lang/
/cool-tech/public/
/cool-tech/resources/css/
/cool-tech/resources/js/
/cool-tech/storage/
/cool-tech/tests/
/cool-tech/vendor/